{% extends "base.html" %}

{% block title %}
  {{ object.title }}
{% endblock %}

{% block content %}
<h1>
  {{ object.title }}
</h1>
<div class="module">
  <h2>Описание</h2>
  <p>
    <a href="{% url 'course_list_program' object.program.slug %}">{{ object.title }}</a>
    содержит {{ object.modules.count }}
		{% if object.modules.count == 1 %}модуль
		{% else %}модуля
		{% endif %}
    <p id="trainer">Тренер: {{ object.coach.get_full_name }}</p>
  </p>
  {{ object.review|linebreaks }}
		{% if request.user.is_authenticated %}
			<form action="{% url 'student_enroll_course' %}" method="post">
				{{ enroll_form }}
				{% csrf_token %}
				<input type="submit" value="Записаться">
			</form>
		{% else %}
				<a href="{% url 'student_registration' %}" class="button">
						Зарегистрируйтесь для записи
				</a>
		{% endif %}
</div>
{% endblock %}
