{% extends "base.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
		<h1>Установить новый пароль</h1>
		{% if validlink %}
		<div class="module">
		<p>Введите новый пароль дважды</p>
				<div class="login-form">
						<form method="post">
								{{ form.as_p }}	{% csrf_token %}
								<p><input type="submit" value="Сохранить"/></p>
						</form>
				</div>
		</div>
		{% else %}
			<div class="info-message">
					<p>
							Ссылка для сброса пароля недействительна.<br>
							Возможно она использовалась ранее.<br>
							Пожалуйста, запросите новый
							<a href="{% url 'password_reset' %}" class="blue-link">сброс пароля</a>
					</p>
			</div>
{% endif %}
{% endblock %}