@import url(//fonts.googleapis.com/css?family=Roboto:500,300,400);

body {
    margin:0;
    font-family:'Roboto', sans-serif;
    font-weight:400;
    color:#413c3c;
}

a {
    color:#302f2fdd;
    text-decoration:none;
    margin-top: 7px;
    padding-inline: 4px;
}

#trainer {
    color: #0078af;
    margin-top: -5px;
    padding-left: 4px;
    font-weight: 410;
    margin-bottom: auto;
}

ul {
    float:left;
}

h2 {
    color: black;
    font-weight: 500;
}

h1, h3, h4, h5, h6 {
    font-family:'Roboto', sans-serif;
    font-weight:200;
    color: white;
}

h1 {
    background:#00a6af;
    width:98.7%;
    text-align:left;
    overflow:auto;
    padding:20px 0 20px 20px;
    margin:0;
    font-weight: 300;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    text-align: left;
    width: 30%;
    height: auto;
}

.logo {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 10px;
}

.logo-img {
    height: auto;
}

.module {
    padding:10px 40px;
    float:left;
    width:auto;
}

.module h3 {
    font-size: 30px;
    font-weight: 500;
    margin:20px 0 0;
    padding:0;
    color: black;
    width:100%;
}

.module p {
    margin:10px 0 20px;
    width:100%;
    float:left;
}

#header {
    background: #0078af;
    overflow: auto;
    padding: 10px 20px;
    border-bottom: 6px solid #b0dbff;
    display: flex;
    justify-content: space-between;
}

#header .logo {
    text-decoration:none;
    font-family:'Roboto', sans-serif;
    font-weight:500;
    text-transform:uppercase;
    font-size:24px;
    color:#fff;
    float:left;
}

#header a {
    color:#fff;
}

#header .menu {
    list-style:none;
    float:right;
    margin-bottom: 0;
    padding:0;
    text-decoration: none;
    justify-content: center;
    display: flex;
}

.contents {
    width:20%;
    padding:10px;
    margin-top: 32px;
    margin-left: 20px;
    border-radius: 10px;
    float:left;
    background:#333;
    color: #fff;
    font-family:'Roboto', sans-serif;
}

.contents ul {
    list-style:none;
    margin:0;
    padding:0;
    width:100%;
}

.contents ul li {
    margin:0 0 10px 0;
    padding:4px 10px 10px;
    overflow:auto;
    cursor:move;
}

.contents ul li.selected {
    background:#3f3f3f;
}

.contents ul li:hover {
    background:#3f3f3f;
}

.contents ul li.placeholder {
    background: #333;
    border:1px dashed #ccc;
    padding:0;
    margin:10px 0;
}

.contents ul span {
    text-transform:uppercase;
    color:#bbb;
    font-size:14px;
}

.contents ul a {
    display:block;
    color:#cccccc;
    text-decoration:none;
}

.contents ul a:hover {
    color:#fff;
    cursor:move;
}

ul.content-types li {
    list-style:none;
    float:left;
    margin:10px;
    background:#efefef;
    padding:8px 14px;
}

.hidden {
    display:none;
}

form p {
    overflow:auto;
}

.errorlist {
    color:#ae2c2c;
    margin:0;
}

label {
    float:left;
    clear:both;
    margin:0 0 8px 0;
}

input, select, textarea {
    text-decoration:none;
    border:1px solid #ccc;
    border-bottom:3px solid #ccc;
    padding:8px 12px;
    font-size:16px;
    font-family:'Roboto', sans-serif;
    float:left;
    clear:both;
    width:300px;
}

textarea {
    height:80px;
}

select {
    width:324px;
}

input[type=submit], a.button {
    width:55%;
    border-radius:10px;
    background:#00a6af;
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    border:none;
    padding:10px 20px;
    margin:0 20px 20px 0;
}

a.secondary-button {
    border:3px solid #4dcc43;
    padding:10px 20px;
    margin:10px 0;
}

input[type=submit]:hover, a.button:hover {
    background:#017780;
}

ul#course-modules {
    list-style:none;
    overflow:auto;
}

ul#course-modules textarea {
    width:600px;
    height:120px;
}

ul#course-modules li {
    padding:20px;
    overflow:auto;
    cursor:move;
    user-select:none;
}

.user {
    width: 130px;
    height: auto;
    color: white;
    overflow: auto;
    padding: 5px;
    margin-right: -10px;
    margin-bottom: -10px;
    margin-top: -10px;
}

ul#course-modules li:nth-child(even) {
    background:#efefef;
}

ul#course-modules li:hover {
    background:#ccc;
}

#module-contents div {
    margin-top: 15px;
    padding:10px 20px;
    border:2px solid #ccc;
    background:#fff
}

#module-contents div.placeholder {
    border:1px dashed #ccc;
    opacity: 0.9;
    background-color: #f2f2f2;
}

#module-contents form {
    margin:0;
    padding:0;
}

#module-contents input[type=submit] {
    cursor:pointer;
    color:#b50000;
    background:none;
    margin:-20px 0 0;
    padding:0;
    float:left;
    text-transform:none;
}

#module-contents div:hover {
    cursor:move;
    background:#e6e6e6;
    text-weight: 500px;
}

.course-info {
    border:2px solid #85858573;
    padding:0 20px;
    margin-top: 20px;
    margin-bottom:20px;
    width:400px;
    overflow:auto;
}

.course-info a {
    margin-right:10px;
    color: darkblue;
}

.helptext {
    color:#ccc;
    padding-left:20px;
}